.header__logo {
  margin: 45px 0 37px;
  max-width: 142px;
}

@media (max-width: 320px) {
  .header__logo {
    margin: 28px auto 27px 27px;
    max-width: 103.74px;
    height: 24.4px;
  }
}
