.element__delete {
  height: 19px;
  width: 18px;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  margin-left: 250px;
  margin-top: 20px;
  cursor: pointer;
  background-image: url(../../../images/delete.svg);
}
