.profile__addbutton {
  background-image: url(../../../images/profile-addbutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 22px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 14px 64px;
}

@media (max-width: 680px) {
  .profile__addbutton {
    background-size: 16px;
    width: 282px;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 17px 133px;
  }
}

.profile__addbutton:hover {
  opacity: 0.6;
}
