.profile__button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}
.profile__button::before {
  opacity: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile__button:hover::before {
  opacity: 1;
}

@media (max-width: 680px) {
  .profile__button {
    margin: 0;
  }
}
