.image-popup__mask-group {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 433px;
  height: 540px;
  z-index: 1;
}

@media (max-width: 800px) {
  .image-popup__mask-group {
    width: 240px;
    height: 299px;
  }
}
