.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

@media (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
