.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 25px auto 9px;
    max-width: 220px;
  }
}
